/* Variables */
$yellow: #FBC02D;

*:not(i):not(.pi) {
  font-family: "Muli", sans-serif !important;

  &:focus {
    outline: none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

h5 {
  font-size: 18px;
}

input {
  border: none !important;

  &:focus {
    box-shadow: none !important;
  }
}

.p-badge {
  background-color: $yellow;
  top: 5px !important;
  right: 5px !important;
  min-width: 1rem;
  min-height: 1rem;
  height: 1rem;
  line-height: 1rem;
}

/* Shared */

%link-shared {
  text-decoration: none;
  color: #000;
  transition: .2s ease-in-out;
}

.p-button.p-button-warning,
.p-buttonset.p-button-warning>.p-button,
.p-splitbutton.p-button-warning>.p-button,
.p-button.p-button-warning:enabled:hover,
.p-buttonset.p-button-warning>.p-button:enabled:hover,
.p-splitbutton.p-button-warning>.p-button:enabled:hover {
  color: white
}

.p-inputgroup-addon:last-child,
.p-inputgroup button:last-child,
.p-inputgroup input:last-child,
.p-inputgroup>.p-inputwrapper:last-child,
.p-inputgroup>.p-inputwrapper:last-child>.p-inputtext {
  border-radius: 0;
}

/* Container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Top Bar */

#topBar {
  border-bottom: 1px solid #e5e5e5;
  display: flex;

  .block {
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 16px;
    color: #252525;
  }

  .mail-service,
  .social-media {
    border-right: 1px solid #E5E5E5;
    padding-right: 20px;

    a {
      padding-left: 5px
    }
  }

  .phone-service,
  .login {
    padding-left: 20px;
  }

  s a {
    @extend %link-shared
  }

  a:hover {
    @extend %link-shared;
    opacity: .6
  }

  svg {
    margin-right: 4px;
  }
}

#main-bar {
  padding: 39px 15px;

  .logo {
    padding: 12px 0;
  }

  .advanced-search {
    height: 50px;
    border: 1px solid #e5e5e5;

    .p-inputgroup {
      height: 100%;
    }
  }

  .p-dropdown {
    float: left;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #252525;
    position: relative;

    &:before {
      position: absolute;
      right: 0;
      top: 14px;
      width: 1px;
      height: 20px;
      background: #e5e5e5;
      content: "";
    }

    &.p-focus {
      box-shadow: none;
    }
  }


  .cart {
    padding: 10px 0;

    ul {
      margin: 0;
      padding: 0;
      text-align: right;

      li {
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 15px;
      }

      i {
        font-size: 25px
      }
    }

    .cart-price {
      font-size: 18px;
      font-weight: 700;
      color: #252525;
    }
  }
}

#main-menu {
  background: #252525;



  .p-megamenu {
    border: none;
    border-radius: 0;
    padding: 0;

    .p-menuitem-text,
    .p-menuitem-icon,
    .p-submenu-icon {
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
    }


    .p-menuitem-icon {
      margin-right: 16px;
    }

    .p-menuitem-link {
      padding: 20px 45px 20px;
      border-radius: 0;
    }

    .p-megamenu-submenu {
      width: 100%;

      .p-menuitem-text {
        color: #000;
        font-size: 16px;
        text-transform: none;
        font-weight: 400;
      }
    }

    .p-megamenu-submenu-header {
      display: none
    }

    .p-menuitem {

      border-radius: 0;

      &:first-child {
        background: #3b3b3b
      }

      &.active {
        background: rgba(251, 192, 45, 0.92);
      }


      .p-ink {
        border-radius: 0
      }
    }

    .p-megamenu-panel {
      box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
      border: none;
      width: 100%;

      .p-megamenu-col-12 {
        padding: 0;
      }
    }
  }
}

/* Footer */
footer {
  .partner-logo {
    background: #303030;
    padding: 38px 0;

    .logo-align {
      height: 40px;
      /* Equals maximum image height */
      line-height: 25px;
      width: 160px;

      text-align: center;

      img {
        vertical-align: middle;
        max-height: 40px;
      }
    }
  }

  .footer-content {
    background: #191919;
    padding-top: 75px;
    font-size: 16px;
    color: #b2b2b2;

    .footer-widget {
      margin-bottom: 30px;

      li,
      li a,
      p {
        list-style: none;
        color: #b2b2b2;
        font-size: 16px;
        line-height: 30px;
      }

      h5 {
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 26px;
        margin-top: 0
      }

      .p-inputgroup {
        input {
          color: #b2b2b2;
          background: #303030;
          height: 46px;
          font-size: 16px;
          border: none;
          padding-left: 20px;
          border-radius: 0;

          &::placeholder {
            color: #b2b2b2;
          }
        }

        button {
          display: inline-block;
          color: #ffffff;
          background: #e7ab3c;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          border: 1px solid #e7ab3c;
          right: 0;
          top: 0;
          padding: 13px 20px 12px;
          cursor: pointer;
        }
      }

      .footer-social a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background: #434445;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        margin-right: 7px;
        position: relative;
        z-index: 1;
      }
    }
  }

  .copyright-reserved {
    border-top: 1px solid #303030;
    padding: 15px 0;
    margin-top: 45px;
  }
}



@media (max-width: 768px) {
  #topBar {
    .contacts {
      display: none;
    }

    .logo {
      display: block;
      text-align: center
    }
  }
}


/* Slider */
.slider {
  height: 725px;
  padding-top: 210px;


  &.slider-1 {
    background: url('~assets/img/slider/hero-1.jpg');
  }

  &.slider-2 {
    background: url('~assets/img/slider/hero-2.jpg');
  }

  span {
    -webkit-transition: all .2s ease .2s;
    -o-transition: all .2s ease .2s;
    transition: all .2s ease .2s;

    color: #e7ab3c;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 28px;
    display: inline-block;
    position: relative;
    top: 50px;
    opacity: 0;

  }

  h1 {
    -webkit-transition: all .4s ease .4s;
    -o-transition: all .4s ease .4s;
    transition: all .4s ease .4s;

    color: #252525;
    font-size: 72px;
    font-weight: 700;
    line-height: 60px;

    margin-bottom: 6px;
    margin-top: 6px;
    position: relative;
    top: 50px;
    opacity: 0;
  }

  p {
    -webkit-transition: all .6s ease .6s;
    -o-transition: all .6s ease .6s;
    transition: all .6s ease .6s;

    margin-bottom: 42px;
    position: relative;
    top: 50px;
    opacity: 0;
    font-size: 16px;
    color: #636363;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  button {
    -webkit-transition: all .8s ease .8s;
    -o-transition: all .8s ease .8s;
    transition: all .8s ease .8s;

    position: relative;
    top: 100px;
    opacity: 0;
    border-radius: 0;
    padding: 0;

    .p-button-label {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      padding: 12px 30px;
      color: #fff;
    }

    span {
      &.p-ink {
        position: absolute;
      }

      top: unset;
    }
  }

  .off-card {
    -webkit-transition: all 1s ease 1s;
    -o-transition: all 1s ease 1s;
    transition: all 1s ease 1s;

    height: 154px;
    width: 154px;
    padding-top: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 140px;
    position: absolute;
    left: 47%;
    top: 160px;
    background: #FBC02D;
    z-index: 1;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;

    &:after {
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 14px);
      height: calc(100% - 14px);
      border: 2px dashed #fff;
      content: "";
      border-radius: 50%;
      z-index: -1;
    }

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      line-height: 1.2;

      span {
        display: block;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 6px;
    position: unset;
      }
    }
  }
}

.agile__slide--active {
  span, h1, p, button {
    top: 0;
    opacity: 1;
  }

  button {
    top: 50px;
  }

  .off-card {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
}

.agile__nav-button {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  transition: .2s ease-in-out;
  position: absolute;
  top: 45%;
  color: #252525;

  &:hover {
    color: #dfad51;
  }

  i {
    font-size: 30px
  }
}

.agile__nav-button--prev {
  left: 45px;
}

.agile__nav-button--next {
  right: 40px;
}


/* Components */
.single-banner {
  position: relative;
  index: 1;

  &:before {
   position: absolute;
    left: 35px;
    top: 30px;
    border: 13px solid #ffffff;
    content: "";
    opacity: 0.3;
    width: calc(100% - 70px);
    height: calc(100% - 60px);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 

    &:hover {
      -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }
  }


}